.user-container{
    background-color: rgb(220, 179, 124);
    padding: 25px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    margin: 1rem;
}

#user-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}