.user-container{
    background-color: rgb(51, 50, 57);
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
    border: 1px solid white;
    border-radius: 10px;
}

#user-img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit:fill;
}

#btn{
    padding: 5px;
    border-radius: 5px;
}