#toggleBtn{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    cursor:pointer;
    padding: 10px 20px;
    margin: 10px;
}

#toggleBtn:hover{
    background-color: blue;
}

#text{
    display: none;
}